* {
    background: #0D1117;
    color: #E6EDF3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}


header a:hover {
  text-decoration: underline;
  color:#31acb4;
}

.conteudo-principal {
  display: grid;
  place-items: center;
  margin-top: 30vh;
}  

section h1 {
  font-size: 4.0rem;
}

section p {
  font-size: 2.0rem;
}

.cv-erick {
  margin: 30px;
  text-decoration: none;
  font-size: 1.50rem;
  padding: 5px 20px;
  border-radius: 5px;
  background: #1e2835;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 100px;
}

.link li {
  text-decoration: none;
  list-style: none;
}

.link ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  list-style: none;
}

.sobre-mim {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 300px;
  
}

.sobre-mim h2 {
  font-size: 3.0rem;
  
}

.sobre-mim p {
  margin: 60px;
  font-size: 2.0rem;
  text-align: center;
}

.roda-pe {
  text-align: center;
  
}

.strong-roxo{
  color: #58A6FF;
}

.strong-vermelho {
  color: #31acb4;
}





