* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0D1117;
    color: #E6EDF3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

nav a{
    color: #E6EDF3;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color:#31acb4;
    text-decoration: underline;
    transition: 0.4s;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}

h1, h2 {
    font-size: 3.0rem;
}

section  p{
    font-size: 1.5rem;
}

.meu-cv {
    display: inline-block;
    width: fit-content;
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.50rem;
    padding: 5px 20px;
    border-radius: 5px;
    background: #1e2835;
    color: #E6EDF3;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40vh;
}


.link ul{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    list-style: none;
}

.sobre-mim {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.sobre-mim .texto{
    max-width:  800px;
    text-align: center;
}

.sobre-mim h2 {
    font-size: 3.0rem;
    margin-bottom: 1.5rem;
}

.sobre-mim p {
    font-size: 1.2rem;
    line-height: 1.4;
}

.roda-pe {
   margin-top: 5vh; 
}

.destaque {
    color: #31acb4;
    font-weight: 600;
}

.destaque-tit {
    color: #58A6FF
    
}





